*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aquamarine;
}

article{
    background-image: linear-gradient(red, yellow) ;
    border-radius: .75em;
    padding: 20px;
    box-shadow: 5px 2px skyblue;
}

h1{
    background-image: url( https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    color: white;
    border-radius: .75em;
    padding: 20px;
    box-shadow: 5px 2px skyblue;
    text-shadow:2px 2px #ff0000 ;
}

a{
    color: lightseagreen;
    
}
/* comment link styles */
a:hover{
    color:brown;
}

img{
    display: block;
    height:20%;
    border:lightseagreen;
    border-radius: .75em;
    margin-bottom: 30px;
    box-shadow: 5px 2px skyblue;
}

.subheading{
    border-bottom: underline;
}